

<!-- footer SEction -->
                <footer id="main-footer" class="bg-secondary text-dark"> 
                  <div class="container">
                    <div class="row">
                    
                      <div class="col text-center">
                        <div class="py-4">
                          <div class="social-icon text-center">
                          <a href="" class="text-light"><i class="fa fa-facebook-square fa-2x"></i></a>
                          <a href="" class="text-light"><i class="fa fa-twitter-square fa-2x"></i></a>
                          <a href="" class="text-light"><i class="fa fa-google-plus-square fa-2x"></i></a>
                          <a href="" class="text-light"><i class="fa fa-github-square fa-2x"></i></a>
                          <a href="" class="text-light"><i class="fa fa-codepen fa-2x"></i></a>
                        </div>
                          <h1 class="h3">Xarala </h1>
                          <p>+221779929952/+221763772260<br>mstspr1155@gmail.com</p>
                          <p>Copyright &copy; 2018</p>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>
            <!-- Conatct Modal -->
            
<!-- Back To Top -->
       <div class="scroll-top-wrapper ">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
</div>
<!-- === End Section copyright and social link=== -->