<!-- === Start Navabar === -->

{% load static %}

<div id="header">
<nav id="navbar" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<div class="container">
  <a class="navbar-brand" href="#">Xarala<span class="logo">Dev</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#what-we-do">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#testimonials">Testimonials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#main-footer">Contact</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
</div>
<!-- === End Navabar === -->
 
<!-- === Start Caresoul with Text === -->
<div id="intro">
  <div class="overlay">
    <div class="container centering-vh">
      <div class="intro-text">
      <h2 class=" text-center h1-intro">
      <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Ousseynou.", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
        <span class="wrap"></span>
      </a>
      </h2>
       <!-- <h2 class="text-center h1-intro">We are about web developement</h2>-->
        <p class="lead text-center after-line">Your Presence on the web</p>
      </div>
      <div class="scrol-btn text-center">
        <a href="#about" > <i class="fa fa-angle-double-down"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- === End Caresoul with Text === -->
