<!-- === Start Navabar === -->

{% load static %}

<div id="header">
<nav id="navbar" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Xarala<span class="logo">Dev</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Testimonials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
</div>
<!-- === End Navabar === -->

<!-- === Start Caresoul with Text === -->
<div id="intro">
  <div class="overlay">
    <div class="container centering-vh">
      <div class="intro-text">
        <h4 class="text-center">New branding agency</h4>
        <h2 class="text-center">We are about web developement</h2>
        <p class="lead text-center after-line">Your Presence on the web</p>
      </div>
      <div class="scrol-btn text-center">
        <a href="#about" > <i class="fa fa-angle-double-down"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- === End Caresoul with Text === -->
