body {
  background: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  height: 100%;
  width: 100%;
  margin: 0;
}
/*Navbar*/

#header #navbar {
  font-weight: bold !important;
}
#side-menu {
  top: 55px;
}
/* Starter header */
#intro {
  background: url(../images/bg.jpg) no-repeat top center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
  color: #fff;
  min-height: 700px;
}
@media (max-width: 991px) {
  #intro {
    height: 100vh;
    text-align: center;
    padding: 50px 0;
  }
}
#intro .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 991px) {
  #intro .overlay {
    width: 100%;
    height: 100%;
  }
}
.centering-vh {
  margin-top: 25vh;
}

@media (max-width: 991px) {
  .centering-vh {
    margin-top: 30px;
  }
}
#intro .intro-text {
  padding: 20px 0;
  text-transform: uppercase;
  line-height: 1.7;
}
#intro h2 {
  font-weight: bold;
  font-size: 60px;
}
@media (max-width: 991px) {
  #intro h2 {
    text-align: center;
    font-size: 25px;
  }
}

#intro .lead {
  font-size: 30px;
}
@media (max-width: 991px) {
  #intro h2 ~ .lead {
    text-align: center;
  }
}

@media (max-width: 991px) {
  #intro h2 ~ .lead:after {
    margin: 25px auto;
  }
}
#intro .scrol-btn .fa {
  border: #fff 2px solid;
  border-radius: 50%;
  padding: 15px 20px;
  text-align: center;
  background: transparent;
  margin-top: 10px;
}
@media (max-width: 991px) {
  #intro .scrol-btn .fa {
    margin-top: 20px;
  }
}
/*About */
.about-section {
  background-color: #080327;
  color: #fff;
  padding: 80px 0;
}

/*Sevices*/

#services {
  padding: 80px 0;
  background: url(../images/bg.jpg) no-repeat top center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  color: #fff;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
#services .overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#services .fa {
  border: #080327 3px solid;
  border-radius: 50%;
  padding: 10px 15px;
  text-align: center;
}
/*Skills*/
#skills {
  padding: 80px 0;
}
#skills .fa {
  border: #080327 4px solid;
  border-radius: 50%;
  padding: 10px 15px;
  text-align: center;
}
/*Portfolio*/
#portfolio {
  padding: 80px 0;
}
/*Testimonials*/
#testimonials {
  padding: 80px 0;
}
/*footter 1*/
#footer-section {
  padding: 80px 0;
}

/*footer 2*/
.footer {
  padding: 0;
}
.footer .social-icon {
  padding-top: 20px;
}
.copyright {
  padding-top: 10px;
  padding-bottom: 20px;
}

/*My framework*/
.after-line:after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #fff;
  margin: 25px auto;
  text-align: center;
}
.logo {
  font-weight: bold;
  color: red;
}
